  body {
    background-color: #40a8c4;
    font-family: 'Merriweather', serif;
  }

  h1 {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    text-align: center;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    color: yellow;
    font-family: 'Montserrat', sans-serif;
  }

  hr {
    border-style: dotted none none;
    border-color: pink;
    border-width: 10px;
    width: 10%;
  }

  img {
    height: 250px;
    align-self: center;
  }

  .tai {
    align-self: center;
  }

  #heading {
    color: yellow;
  }
