a {
  text-decoration: none;
}

body {
  background-color: #9ddfd3;
  font-family: 'Montserrat', serif;
  font-size: 20px;
}

h1 {
  font-family: 'Ubuntu', cursive;
  font-size: 50px;
  text-align: center;
  color: #e11d74;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #e11d74;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  width: 20%;
  color: #e11d74;
}

#experience, #education, #hobbies, #skills, #moments, #bookme {
  padding-left: 3%;
  padding-top: 1%;
}

#heading {
  padding-top: 2%;
}

.profile-pic {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tai {
  text-align: center;
  height: 250px;
  margin-bottom: 20px;
}

/* Summary  */

.feature-division {
  text-align: center;
}

.feature-icon {
  color: #e11d74;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: blue;
}

.bottom-container {
  text-align: center;
}

.contact-me {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Ubuntu'
}


.icon {
  height: 40px;
}

.icon-fa {
  color: #e11d74
}

.footer-link {
  margin-right: 10px;
}

.flaticon {
  font-size: 15px;
  padding-left: 3%;
  padding-bottom: 1%
}


.copyright {
  padding-top: 1%;
}

.copyright:hover {
  color: #e11d74;
}

.btn {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #e11d74;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Photo Section */

.photo-division {
  text-align: center;
}

.my-photos {
  width: 60%;
  border-radius: 5%;
  padding-bottom: 1%;
}

.my-photo-vertical {
  height: 750px;
  border-radius: 5%
}

/* Book Me Section */

.book-me-div {
  text-align: center;
}
